@page

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CESSDA Café: Cashier</title>
</head>
<body>
    <div>
        <h2>CESSDA Café: Cashier</h2>
        <p><a href="swagger/index.html">Swagger Documentation</a></p>
    </div>
</body>
</html>
